body {
    background-color: black;
}

 .logo {
    background: linear-gradient(grey,purple);
    padding: 30px 60px;
    width: 500px;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    margin-left: 350px;
    margin-top: 200px;
    border-radius: 10px;
}

.logo a {
    background: rgba(1, 1, 75, 0.685);
    color: azure;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
}

.logo p{
    font-size: x-large;
}

@media (max-width: 768px) {

    .logo {
        width: 70%;
        display: grid;
        margin-left: auto;
    }
    
}