
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: -apple-system, system-ui, sans-serif;
    overflow-x: hidden; 
    line-height: 1.5;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #1a0b1a; /* Dark purple tint */
    border-bottom: 1px solid #331a33;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar nav {
    display: flex;
    gap: 15px;
}

.navbar nav a {
    color: #888;
    text-decoration: none;
    font-size: 0.85rem;
}

.user-actions {
    padding: 10px;
}

.deposit-btn, .orders-btn {
    padding: 12px;
    color: #fff;
    background-color: #331a3377;
    border-radius: 10px;
}

.tab-navigation{
    margin-top: 20px;
}
.tab-navigation a {
   text-decoration: none;
   padding: 10px;
   background-color: #55555573;
   color: cornsilk;
   border-radius: 5px;
   
}

.tab-navigation a:hover{
    color: #7f0088;
}
.market-tabs button{
    padding: 10px;
   background-color: #55555573;
   color: cornsilk;
   border-radius: 5px;

}

.market-tabs button:hover {
    color: #cc00e7;
}

.widgets-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.widget {
    background: #1a0b1a;
    border: 1px solid #331a33;
    padding: 24px;
    border-radius: 12px;
}

.widget h3 {
    color: #888;
    font-size: 0.85rem;
   margin-bottom: 15px;
}

.fear-level {
    font-size: 3rem;
    font-weight: bold;
    color: #ff3b30; 
    display: block;
    text-align: center;
}


.markets-tables {
    padding: 0 20px 40px;
    width: 100%;
}

.trading-pair-list {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 650px; 
}

th {
    text-align: left;
    color: #555;
    font-size: 0.75rem;
    padding: 12px 10px;
    border-bottom: 1px solid #222;
}

td {
    padding: 18px 10px;
    border-bottom: 1px solid #111;
    font-size: 0.95rem;
    white-space: nowrap; 
}

.trade-btn {
    background: #7f0088;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.positive { color: #00ff41; }
.negative { color: #ff3b30; }


@media screen and (max-width: 600px) {
    .navbar nav {
        display: none; 
    }

    .widgets-container {
        padding: 10px;
        gap: 10px;
    }

    .widget {
        min-width: 100%; 
    }
}